<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body{
            background-color: rgb(53, 53, 53);
            color: white
            /* color: #990f02; */
        }
        script{
            color: white;
        }
    </style>
</head>
<body>
<h2>{{ stock_symb }} Performence </h2>

<canvas id="dailyChart" width="1877" height="750"></canvas>
    
<script>
    // Create daily bar chart
    var dailyCtx = document.getElementById('dailyChart').getContext('2d');
    var dailyChart = new Chart(dailyCtx, {
        type: 'bar',
        data: {
            labels: [{% for entry in daily_data %}"{{ entry['Date'] }}",{% endfor %}],
            datasets: [
                {
                    label: 'Open Price',
                    data: [{% for entry in daily_data %}{{ entry['1. open'] }},{% endfor %}],
                    backgroundColor: 'rgb(248, 70, 82)'
                },
                {
                    label: 'High Price',
                    data: [{% for entry in daily_data %}{{ entry['2. high'] }},{% endfor %}],
                    backgroundColor: '#F1948A'
                },
                {
                    label: 'Low Price',
                    data: [{% for entry in daily_data %}{{ entry['3. low'] }},{% endfor %}],
                    backgroundColor: '#C39BD3'
                },
                {
                    label: 'Close Price',
                    data: [{% for entry in daily_data %}{{ entry['4. close'] }},{% endfor %}],
                    backgroundColor: '#7FB3D5'
                },
            ]
        },
        options: {
            scales: {
                x: {
                    stacked: true
                },
                y: {
                    stacked: true
                }
            }
        }
    });
</script>
</body>
</html>
